body {
    background: linear-gradient(
      0deg,
      rgba(226, 194, 185, 1) 0%,
      rgba(242, 221, 193, 1) 100%
    );
  }
  .wrapper {
    border: none;
    border-radius: 20px;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff;
    text-align: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }
  .overview {
    margin-bottom: 20px;
  }
  .form {
    background-color: #ffffff;
    border: solid 1px #e2c2b9;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 5px 0px;
  }
  .btn {
    background-color: #e2c2b9;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 5px 0px;
  }
  .btn:hover {
    background-color: #99a799;
    border: none;
  }
  h1 {
    color: #737373;
    padding-top: 50px;
    font-size: 44px;
    font-weight: 400;
    line-height: 48px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    padding: 5px;
    text-transform: capitalize;
  }
  .date {
    color: #99a799;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
  .weather-condition {
    color: #99a799;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .weather-temperature img {
    margin-right: 10px;
    height: 84px;
    width: 84px;
    margin-bottom: 30px;
  }
  .weather-temperature strong {
    color: #505050;
    font-size: 84px;
    font-weight: 400;
    line-height: 1;
  }
  
  .weather-temperature .units {
    position: relative;
    top: -50px;
    font-size: 16px;
  }
  
  .weather-temperature .active {
    color: #737373;
    cursor: default;
  }
  .weather-temperature .active:hover {
    text-decoration: none;
  }
  
  .weather-descriptions-box {
    max-width: 120px;
    margin: 20px 0;
    color: #737373;
  }
  
  .desctiption-title {
    font-size: 14px;
  }
  
  .description {
    color: #5f5f5f;
    font-size: 20px;
  }
  
  small {
    font-size: 16px;
    line-height: 20px;
    font-weight: 200;
    color: #737373;
  }
  a {
    text-decoration: none;
    font-weight: 400;
    color: #737373;
  }
  a:hover {
    color: #363636;
  }
  
  .weather-forecast {
    margin-top: 20px;
    text-align: center;
  }
  
  .weather-forecast-date {
    font-size: 16px;
    color: #737373;
  }
  
  .weather-forecast-temperatures {
    font-size: 14px;
    color: #5f5f5f;
  }
  
  .weather-forecast-temperature-min {
    opacity: 0.6;
  }